:root {
    --c-bg: #071726;
    --c-bg-navbar: #261607;
    --c-bg-sidebar: #261607;
    --c-border: #261607;
    --c-text: #FF9900;
}

.info-header {
    background: #0F3151;
    border: 1px solid #ccc;
    border-bottom: 4px groove #999;
    border-right: 4px groove #999;
    padding: 5px;
}

.info-section {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    vertical-align: top;
    margin: 1px;
    width: calc(100% - 4px);
}

.dw-page {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.dw-item {
    background-color: #fcfcfc;
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.indent {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    color: #3d454d;
}

.text-muted {
    color: #667380!important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.row {
    display: flex;
    // flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}