body {
  background-color: #071726;
}

:root {
  --c-text-light-1: #FF9900;
  --c-white: #261607;
}
#main-page.main-page {
  display: -ms-grid;
  -ms-grid-template-areas: "a";
  -ms-grid-template-columns: 100%;
  display: grid;
  grid-template-areas: "a";
  grid-template-columns: 100%;
}
@media screen and (min-width: 990px) {
  #main-page.main-page {
      -ms-grid-template-areas: "a a a";
      -ms-grid-template-columns: 33% 33% 34%;
      grid-template-areas: "a a a";
      grid-template-columns: 33% 33% 34%;
  }
}
.wiki-header {
  background: #0F3151;
  border: 1px solid #ccc;
  border-bottom: 4px groove #999;
  border-right: 4px groove #999;
  padding: 5px;
}
.mp-section {
  background-color: #fcfcfc;
  border: 1px solid #ccc;
  vertical-align: top;
  margin: 1px;
  width: calc(100% - 4px);
}
#mp-1 {
  -ms-grid-area: a;
  grid-area: a;
}

#download-page.download-page {
  display: -ms-grid;
  -ms-grid-template-areas: "a" "b";
  -ms-grid-template-columns: 100%;
  display: grid;
  grid-template-areas: "a" "b";
  grid-template-columns: 100%;
}
@media screen and (min-width: 990px) {
  #download-page.download-page {
      -ms-grid-template-areas: "a b";
      -ms-grid-template-columns: 50% 50%;
      grid-template-areas: "a b";
      grid-template-columns: 50% 50%;
  }
}
.download-header {
  background: #729fcf;
  border: 1px solid #ccc;
  border-bottom: 4px groove #999;
  border-right: 4px groove #999;
  padding: 5px;
}
.dw-section {
  background-color: #fcfcfc;
  border: 1px solid #ccc;
  vertical-align: top;
  margin: 1px;
  width: calc(100% - 4px);
}
#dw-1 {
  -ms-grid-area: a;
  grid-area: a;
}
#dw-2 {
  -ms-grid-area: b;
  grid-area: b;
}